doctype html
html(lang="pt-br")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="/CSS/Estilos_Basicos.css")
		link(rel="stylesheet", href="/CSS/Contatos_Estilos.css")
		link(rel="stylesheet", href="/CSS/gradExp_Estilo.css")
		link(rel="stylesheet", href="/CSS/Hobbies_Estilos.css")
		link(rel="stylesheet", href="/CSS/Portfolio_Estilos.css")
		link(rel="stylesheet", href="/CSS/Software_Estilos.css")

		title ArchiViz-LuFipe
	body(id="corpo_ID")
		div(id="showRoom_ID")
		header 
			h1 ArchiViz||
			h4 Luiz Felipe Castro Coelho
		main
			section(id="intro_ID")
				h2 Projetos Principais 
				h2 Destaques 
				div(class="separadorH_CLASS")
				div(class="separadorH_CLASS")
				img(id="mainImage_ID", src="", alt="MAINDIV_IMAGE")
				div(id="highDiv_ID")
					img(src="", alt="IMG_1")
					img(src="", alt="IMG_2")
					img(src="", alt="IMG_2")
			section(id="sectionPortfolio_ID")
				div(style="display: flex")
					h2(style="font-size: 3.5em; margin: auto 1em auto 1em; color: #0BA10B;") Portfolio 
					button(class="btn_CLASS", style="margin-right: .25em; margin-left: 1em;") Ambientes 
					button(class="btn_CLASS", style="margin: auto .25em auto .25em") Modelos 3D
					button(class="btn_CLASS", style="margin-left: .25em;") Visualização 3D
				div(class="separadorH_CLASS" style="background-color:#0BA10B;")
				div(id="boxViewport_ID")
					div(class="portfolioViewport_CLASS", id="portfolioAmbientes_ID", style="display: flex;")
					div(class="portfolioViewport_CLASS" id="portfolioModelos_ID"  style="display: none;")
					div(class="portfolioViewport_CLASS" id="portfolio3Dviews_ID"  style="display: none;")
		footer
			section(id="authSection_ID")
				img(id="perfImage_ID", src="", alt="FOTOPERFIL")
				div(id="authBtn_ID")
					button(class="btn_CLASS") Sobre
					button(class="btn_CLASS") Graduação 
					button(class="btn_CLASS") Software 
					button(class="btn_CLASS") Hobbies 
					button(class="btn_CLASS") Contatos
				div(id="authVP_ID")
		script(src="") 
