doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Document
	body
		header
		main
			form(action="/criarInformacao", method="post", style="display:grid")
				label(for="titulo") TITULO
				input(type="text", name="titulo")

				label(for="tipo") TIPO DO PROJETO
				input(type="text", name="tipo")

				label(for="file") NOME DA IMAGEM
				input(type="text", name="file")

				label(for="nivel") NIVEL DE INTERECE
				input(type="number", name="nivel")

				button(type="submit") criar postagem
		footer