doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Document
	body
		header
		main
			form(action="/criarUsuario", method="post", enctype="multipart/form-data" ,style="display:grid")
				label(for="nome") NOME DO USUÁRIO
				input(type="text", name="nome")

				label(for="descricao") DESCRIÇÃO DO PERFIL
				input(type="text", name="descricao")

				label(for="status") FORMAÇÃO
				select(name="status")
					option(value="estudante") ESTUDANTE
					option(value="arquiteto") ARQUITETO

				label(for="instituto") INSTITUTO REFERENTE
				input(type="text", name="instituto")

				label(for="tel") TELEFONE
				input(type="text", name="tel")

				label(for="cpf") CPF
				input(type="text", name="cpf")

				label(for="rg") RG
				input(type="text", name="rg")

				label(for="arquivo") FOTO DE PERFIL 
				input(type="file", name="arquivo")

				button(type="submit") criar postagem
		footer