doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title ArchiViz||LF
  link(rel='stylesheet' href='/stylesheets/Estilos_Basicos.css')
  link(rel='stylesheet' href='/stylesheets/Portfolio_Estilos.css')
  link(rel='stylesheet' href='/stylesheets/gradExp_Estilo.css')
  link(rel='stylesheet' href='/stylesheets/Software_Estilos.css')
  link(rel='stylesheet' href='/stylesheets/Contatos_Estilos.css')
  link(rel='stylesheet' href='/stylesheets/Hobbies_Estilos.css')
  link(rel='stylesheet' href='/stylesheets/aos.css')
#showRoom_ID
header
  h1 ArchiViz||
  h4 Luiz Felipe Castro Coelho
section
  #intro_ID
    h2 Main Projects
    h2 Highlights
    .separadorH_CLASS
    .separadorH_CLASS
    img#mainImage_ID(src='/images/Assets/Projetos/Ambientes/0.jpg' alt='MAINDIV_IMAGE' data-aos='fade-right')
    #highDiv_ID
      img.highImg_CLASS(src='/images/Assets/Projetos/Ambientes/4.jpg' alt='IMG_1' data-aos='fade-left')
      img.highImg_CLASS(src='/images/Assets/Projetos/Ambientes/6.jpg' alt='IMG_2' data-aos='fade-left')
      img.highImg_CLASS(src='/images/Assets/Projetos/Ambientes/7.jpg' alt='IMG_3' data-aos='fade-left')
  #sectionPortfolio_ID(data-aos='fade-up')
    div(style='display: flex;')
      h2(style='font-size: 3.5em; margin: auto 1em auto 1em; color: #0BA10B;') Portfolio
      button.btn_CLASS(style='margin-right: .25em; margin-left: 1em;' onclick='dspAmbiente()') Ambientes
      button.btn_CLASS(style='margin: auto .25em auto .25em' onclick='dspModelo()') Modelos 3D
      button.btn_CLASS(style='margin-left: .25em;' onclick='dsp3DView()') Visualiza&ccedil;&atilde;o 3D
    .separadorH_CLASS(style='background-color:#0BA10B;')
    #boxViewport_ID
      #portfolioAmbientes_ID.portfolioViewport_CLASS(style='display: flex;')
      #portfolioModelos_ID.portfolioViewport_CLASS(style='display: none;')
      #portfolio3Dviews_ID.portfolioViewport_CLASS(style='display: none;')
        .sketchfab-embed-wrapper
          iframe(title='CasaCaroline_NoMaterial' frameborder='0' allowfullscreen='' mozallowfullscreen='true' webkitallowfullscreen='true' allow='fullscreen; autoplay; vr' xr-spatial-tracking='' execution-while-out-of-viewport='' execution-while-not-rendered='' web-share='' src='https://sketchfab.com/models/066fa83c4a63440fb6f5e7bc0f9fd0b5/embed')
          p(style='font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;')
            a(href='https://sketchfab.com/3d-models/casacaroline-nomaterial-066fa83c4a63440fb6f5e7bc0f9fd0b5?utm_medium=embed&utm_campaign=share-popup&utm_content=066fa83c4a63440fb6f5e7bc0f9fd0b5' target='_blank' style='font-weight: bold; color: #1CAAD9;') CasaCaroline_NoMaterial
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;by 
            a(href='https://sketchfab.com/LuFipe?utm_medium=embed&utm_campaign=share-popup&utm_content=066fa83c4a63440fb6f5e7bc0f9fd0b5' target='_blank' style='font-weight: bold; color: #1CAAD9;') LuFipe
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;on 
            a(href='https://sketchfab.com?utm_medium=embed&utm_campaign=share-popup&utm_content=066fa83c4a63440fb6f5e7bc0f9fd0b5' target='_blank' style='font-weight: bold; color: #1CAAD9;') Sketchfab
        .sketchfab-embed-wrapper
          iframe(title='Tea Time' frameborder='0' allowfullscreen='' mozallowfullscreen='true' webkitallowfullscreen='true' allow='fullscreen; autoplay; vr' xr-spatial-tracking='' execution-while-out-of-viewport='' execution-while-not-rendered='' web-share='' src='https://sketchfab.com/models/584c5e090a8040149adb6f0c9e4cce6d/embed')
          p(style='font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;')
            a(href='https://sketchfab.com/3d-models/tea-time-584c5e090a8040149adb6f0c9e4cce6d?utm_medium=embed&utm_campaign=share-popup&utm_content=584c5e090a8040149adb6f0c9e4cce6d' target='_blank' style='font-weight: bold; color: #1CAAD9;') Tea Time
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;by 
            a(href='https://sketchfab.com/LuFipe?utm_medium=embed&utm_campaign=share-popup&utm_content=584c5e090a8040149adb6f0c9e4cce6d' target='_blank' style='font-weight: bold; color: #1CAAD9;') LuFipe
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;on 
            a(href='https://sketchfab.com?utm_medium=embed&utm_campaign=share-popup&utm_content=584c5e090a8040149adb6f0c9e4cce6d' target='_blank' style='font-weight: bold; color: #1CAAD9;') Sketchfab
footer
  #authSection_ID
    img#perfImage_ID(src='/images/Assets/Perfil.jpg' alt='FOTOPERFIL')
    #authBtn_ID
      button.btn_CLASS(onclick='dspSobre()') Sobre
      button.btn_CLASS(onclick='dspExpGrad()')
        | Gradua&ccedil;&atilde;o 
        br
        |  &amp; Experiencia
      button.btn_CLASS(onclick='dspSoft()') Softwares
      button.btn_CLASS(onclick='dspHobby()') Hobbies
      button.btn_CLASS(onclick='dspCont()') Contatos
    #authVP_ID
      #aboutGrid_ID
        p.txtAbout_CLASS
          | O projeto Minha Casa Minha Vida foi meu primeiro contato profissional, enquanto muito inexperiente, obtive conhecimento que mais tarde me ajudaria no curso tanto de Arquitetura quanto de Engenharia. Meu trabalho era principalmente supervisionar os pedreiros e seus serventes, com isso aprendi sobre os processos de uma contru&ccedil;&atilde;o, bem como sua organiza&ccedil;&atilde;o. Aprendi sobre a estrutura de madeira de um telhado, sobre contra piso para assentar o porcelanato, sobre tubula&ccedil;&otilde;es hidr&aacute;ulicas entre outras coisas. Aprendi o que n&atilde;o veria na faculdade, aprendi sobre a pr&aacute;tica e execu&ccedil;&atilde;o
        p.txtAbout_CLASS
          | A Junior Achievement &eacute; uma iniciativa social com o intuito de inicializar jovens do ensino fundamental para o mundo do empreendi&#x2;mento. Ela chama 4 voluntarios do ensino superior e os capacita como Advisers(Conselheiros) que ir&atilde;o guiar uma turma de estudantes por todo o ciclo de vida de uma empresa em formato de S.A (Sociedade Anonima). Cada universit&aacute;rio &eacute; capacitado em uma das 4 &aacute;reas: Marketing, Produ&ccedil;&atilde;o, Recursos Humanos e Financeiro, em minha participa&ccedil;&atilde;o, fui Adviser Financeiro
        p.txtAbout_CLASS
          | Durante minha ingress&atilde;o na Projetta, por estar em seus primordios, tive a oportunidade de ver seu crescimento e organiza&ccedil;&atilde;o, ver as ideias que davam certo e como os membros se organizavam para melhor otimizar o trabalho. A princ&iacute;pio, no setor de projetos, minha principal fun&ccedil;&atilde;o era supervisionar os arquitet&ocirc;nicos antes de irem para a aprova&ccedil;&atilde;o do tutor. Nele aprendi como trabalhar em grupo em tais tipos de trabalho. Meu segundo setor foi o marketing, nele fui introduzido ao mundo digital e sua import&acirc;ncia para o desenvolvimento e divulga&ccedil;&atilde;o da imagem de uma empresa. Neste setor, minha principal responsabilidade foi de ajudar na confec&ccedil;&atilde;o do portif&oacute;lio
        p.txtAbout_CLASS
          | o est&aacute;gio com a arquiteta Maria Tereza, cujo principal aprendizado foi o cuidado para com a representa&ccedil;&atilde;o do desenho t&eacute;cnico. Cada m&iacute;nimo detalhe, como o de sancas, bancadas, forros, entre outros, &eacute; pensado, planejado e organizado para que o desenho seja facilmente compreens&iacute;vel e autoexplicativo. O ensinamento principal foi de pensar nos detalhes para evitar imprevistos.
      #divExpGrad_ID.mainBlock_CLASS
        #textArq_ID.expGradBOX_CLASS
          h2 Arquitetura
          ul.listas_CLASS
            li.optionMaster_CLASS
              h3
                | Graduando em Arquitetura e Urbanismo 
                p (2015~Presente)
              ul
                li 9&deg; Semestre - UniJuazeiro
            li.optionMaster_CLASS
              h3 Est&aacute;gios em Arquitetura
              ul
                li
                  | Escritorio de Arquitetura MARIA TEREZA 
                  br
                  |  (2018~2019)
        #textEng_ID.expGradBOX_CLASS
          h2 Engenharia
          ul.listas_CLASS
            li.optionMaster_CLASS
              h3
                | Graduando em Engenharia Civil 
                p (2016~Presente)
              ul
                li 8&deg; Semestre - UFCA
            li.optionMaster_CLASS
              h3 Est&aacute;gios em Engenharia
              ul
                li
                  | Minha Casa Minha Vida - Cons&oacute;rcio entre CRC, Emprecon e Moref&aacute;cil 
                  br
                  |  (2015~2016)
                li
                  | Projetta: Empresa Junior de Engenharia Civil 
                  br
                  |  (2017~2019)
        #textOutros_ID.expGradBOX_CLASS
          h2 Outros
          ul.listas_CLASS
            li.optionMaster_CLASS
              h3 Voluntario na Junior Achievement 2016
              ul
                li
                  | Servi&ccedil;o: Adviser Financeiro 
                  br
                  | (2016~2017)
            li.optionMaster_CLASS
              h3 P&oacute;s-Junior pela Projetta: EJ de Eng. Civil
              ul
                li Setor de Projetos
                li Setor de Marketing
            li.optionMaster_CLASS
              h3 Cursos Udemy:
              ul
                li
                  | Completos
                  ul
                    li O Guia Definitivo para Desenvolvimento de Jogos com Unity
                    li 3D Studio Max 2018 para Games &amp; VR
                    li Build Virtual Reality Games for Google Cardboard using Unity
                    li C++: From Beginner to Expert
                li Em Andamento
                ul
                  li Learn the ART of Video Game
                  li
                    | Adobe Photoshop CC Essential | 
                    br
                    | Photoshop Master Class
                  li
                    | Desenvolvimento Android 2018- 
                    br
                    | Aprenda a criar 15 apps
                  li ZBrush Completo para iniciantes de modelagem e escultura
                  li Photoshop, Illustrator, InDesign &amp; Design Gr&aacute;fico
      #softGrid_ID
      #hobbieGrid_ID
      #contGrid_ID
script(src='/javascripts/Basic_Interactio.js')
script(src='/javascripts/Contatos_VP.js')
script(src='/javascripts/Portfolio_VP.js')
script(src='/javascripts/Software_VP.js')
script(src='/javascripts/Hobbies_VP.js')
script(src='/javascripts/showRoom_VP.js')
script(src='/javascripts/aos.js')
script.
  AOS.init({
  easing: 'ease-in-out-sine'
  });